*{
    box-sizing: border-box;  
    margin:0;
}

body{
    
    display: grid;
    grid-template-columns: 26% 1fr;
    grid-template-rows: 127vh 90vh 25vh;
    
}

#sideheader{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 24% 76%;
    grid-template-rows: 18% 10% 8% 12% 11.4% 12% 1fr;
    grid-column: 1;
    background-color: aquamarine;
    position: sticky;
    top: 0;
    background: #2B4921;
    background: linear-gradient(180deg, rgba(43, 73, 33, 1) 0%, rgba(93, 75, 45, 1) 100%);
}

#upperHeader{

    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 4;
    background-color: rgba(43, 73, 33, 1);
}

#contentPage{

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: 2;
    display: grid;
    grid-template-columns: 3% 1% 94% 3%;
    grid-template-rows: 3.7% 23.4% 5.5% 1.5% 2.5% 6.5% 1.5% 41% ;
}

#banner{

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    background-image: url(Elements/Banner.png);
    position: relative;
    z-index: 1;

}

#newReleases{

    font-family: "Patua One", serif;
    font-weight: 400;
    font-size: 128px;
    color: white;
    text-align: center;
    margin-top: 4%; 
}

#frontBooks{
    display: block;
    background-image: url(Elements//Group\ 64.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: -20%;
    margin-left: -4%;
    z-index: 1;
}

#footer{

    grid-column: span 2;
    grid-row: 3;
    background-color: rgba(48, 48, 48, 1);
    display: grid;
    position: relative;
    z-index: 1;
}

.newBookinfo{

    grid-column: 2;
    grid-row: 4;
    background-color: #2B4921;
    font-family: "Onest", sans-serif;
    font-size: xx-large;
    line-height: 30;
    border-radius: 10%;
    color: white;
}
